In [2]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/monthly-milk-production-pounds.csv')
df.head()

     Month  Monthly milk production (pounds per cow)
0  1962-01                                       589
1  1962-02                                       561
2  1962-03                                       640
3  1962-04                                       656
4  1962-05                                       727

In [4]:
#Solutions Q1
max_milk = df['Monthly milk production (pounds per cow)'].max()
max_milk_index = df['Monthly milk production (pounds per cow)'].idxmax()

print(f'The maximum average milk production is {max_milk} during the year-month of {max_milk_index}.')

The maximum average milk production is 969 during the year-month of 148.

In [8]:
df.iloc[148]

Month                                       1974-05
Monthly milk production (pounds per cow)        969
Name: 148, dtype: object

In [6]:
#Solutions Q2
min_milk = df['Monthly milk production (pounds per cow)'].min()
min_milk_index = df['Monthly milk production (pounds per cow)'].idxmin()

print(f'The minimum average milk production is {min_milk} during the year-month of {min_milk_index}.')

The minimum average milk production is 553 during the year-month of 10.

In [7]:
df.iloc[10]

Month                                       1962-11
Monthly milk production (pounds per cow)        553
Name: 10, dtype: object

I am unable to download the latest milk production data online, so I went with whatever is available to be able to run the program. 

The answer to Q1 is:

Month                                      19-Jun
Monthly milk production: pounds per cow       969
Name: 148, dtype: object


The answer to Q2 is:

Month                                      07-Dec
Monthly milk production: pounds per cow       553
Name: 10, dtype: object

Which makes the answer Jun 2019(max) and Dec 2007(min)